#progress-bar-container {
  width: 500px;
  height: 20px;
  background-color: #e0e0e0;
  margin-bottom: 20px;
}

#progress-bar {
  height: 100%;
  width: 0;
  background-color: #0d47a1;
  transition: width 1s ease-in-out; 
}

#time-display {
  font-size: 24px;
  font-weight: bold;
  text-align: left; 
  padding-left: 10px; 
  margin-top: -15px;
}
